.header{
    a{
        color:#3B3B3B;
        margin-right: 15px;
        font-size: 18px;
        animation: 0.5s all;
        cursor: pointer;
        span{
            color: #8ECF04;
        }
        &:hover{
            font-weight: 500;
        }
        &:active{
            color: #000000;
        }
    }
    hr{
        .wrapper-full();
    }
    &_link{
        .size(5);
        display: flex;
        justify-content: start;
        flex-wrap: nowrap;
    }
    
    &_main{
    }
    &_title{
        padding-left: 15px;
        .size(4);
        border-left: 1px solid #3b3b3b3b;
    }

    .nav{
        // max-width: 1440px;
        margin: 5px 0;
    }

    hr{
        content: "";
        display: block;
        max-width: initial !important;
        margin: 0;
        width: 100vw !important;
        height: 1px;
        position: absolute;
        left: 0;
        background-color: #3b3b3b3b;
        border: none;
    }

    &_contact{
        .size(5);
    }

    &_phones{
        .size(4);
        display: flex;
        flex-direction: column;

        &_time{
            margin-top: 18px;
            display: flex;
            flex-direction: row;

            img{
                width: 12px;
                opacity: 0.5;
            }

            span{
                padding-left: 5px;
                color: #A9A9A9;
                font-size: 12px;
            }
        }

        a{
            font-size: 20px;
            color: #70A000;
            font-weight: 500;
            margin: 5px 0;
            // letter-spacing: 1px;
        }

        span{
            span{
            cursor: pointer;
            color: #A9A9A9;
            font-size: 14px;
            border-bottom: 2px dashed  #A9A9A9;
            }
            img{
                margin-left: 5px;
            }
        }
    }
    
}