.header{
    &_menu{
        .lg-block({
            display: none;
        });
    }
    a{
        color:#3B3B3B;
        margin-right: 10px;
        font-size: 18px;
        animation: 0.5s all;
        cursor: pointer;
        span{
            color: #8ECF04;
        }
        &:hover{
            font-weight: 500;
        }
        &:active{
            color: #000000;
        }

        &:last-child{
            margin-right: 0;
        }
    }

    &_signin{
        margin-right: 0 !important;
        justify-content: flex-end;
    }
    
    &_link{
        .size(6);
        .size-xl(6);
        .size-md(4);
        .size-sm(12);
        .md-block({
            flex-direction: column;
        });
        .sm-block({
            flex-direction: row;
        });
        .xs-block({
            flex-direction: column;
        });
        display: flex;
        justify-content: start;
        flex-wrap: nowrap;
    }

    &_info{
        .sm-block({
            flex-direction: column;

        })
    }
    
    &_main{
        .size-lg(6);
        .size-md(12);
        .size-sm(6);
        .size-xs(8);  
        margin: 0 !important;      
    }
    &_title{
        padding-left: 15px;
        .size(4.5);
        .size-lg(6);
        .size-md(12);
        .size-sm(6);
        .size-xs(12);
        .md-block({
            border-top: 1px solid #3b3b3b3b;
            border-left: none;
        });
        .sm-block({
            border-top: none;
            border-left: 1px solid #3b3b3b3b;
        });
        .xs-block({
            border-top: 1px solid #3b3b3b3b;
            border-left: none;
        });
        border-left: 1px solid #3b3b3b3b;
    }

    .nav{
        // max-width: 1440px;
        margin: 5px 0;
    }

    hr{
        content: "";
        display: block;
        max-width: initial !important;
        margin: 0;
        width: 100vw !important;
        height: 1px;
        position: absolute;
        left: 0;
        background-color: #3b3b3b3b;
        border: none;
    }

    &_contact{
        .size(5);
        .size-xl(6);
        .size-md(7);
        .size-sm(12);
        .sm-block({
        });
        display: flex;
        justify-content: space-between;
        margin-right: 0 !important;
    }

    &_phones{
        .size(4);
        display: flex;
        flex-direction: column;
        justify-content: center;

        &_time{
            // margin-top: 18px;
            display: flex;
            flex-direction: row;

            img{
                width: 12px;
                opacity: 0.5;
            }

            span{
                padding-left: 5px;
                color: #A9A9A9;
                font-size: 12px;
            }
        }

        a{
            font-size: 20px;
            color: #70A000;
            font-weight: 500;
            margin: 5px 0;
            // letter-spacing: 1px;
        }

        span{
            span{
            cursor: pointer;
            color: #A9A9A9;
            font-size: 14px;
            border-bottom: 2px dashed  #A9A9A9;
            }
            img{
                cursor: pointer;
                margin-left: 5px;
            }
        }
    }

    &_marks{
        .size(4);
        display: flex;
        flex-direction: column;
        justify-content: center;

        div {
            margin: 5px 0;
            span{
                color:  #A9A9A9;
                font-size: 16px;
                border-bottom: 2px dashed  #A9A9A9;
            }
            
            i{
                width: 16px;
            }
        }
    }

    &_address{
        margin:0 0 0 16px !important;
    }

    &_basket{
        .size(4);
        display: flex;
        background: #8ECF04 ;
        // background-image: url(../img/111.png);
        min-height: 100px;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
        color: #ffffff;
        font-size: 16px;

        span span{
            font-weight: 300;
            font-size: 12px;
        }
    }

    &_catalog{
        .xs-block({
            flex-direction: column-reverse;
        });
        &-trigger{
        .lg-block({
            width: 50%;
        });
        .sm-block({
            width: 60%;
        });
        .xs-block({
            width: 100%;
        });
        width: 25%;
        display: flex;
        height: 60px;
        background-color: #F76C06;
        color: #FFFFFF;
        font-size: 20px;
        text-transform: uppercase;
        align-items: center;
        margin: 0;
        cursor: pointer;
        }

        &-buter{
            display: flex;
            box-sizing: border-box;
            width: 60px;
            height: 60px;
            border-right: 1px solid #C45300;
            align-items: center;
            justify-content: center;
            margin-right: 13px;

            span{
                width: 28px;
                height: 3px;
                background-color: #fff;
                position: relative;
                transition: all 0.6s;
            }
            &>span:before {
                content: '';
                position: absolute;
                left: 0;
                top: -10px;
                width: 28px;
                height: 3px;
                background-color:#fff;
                transition: all 0.6s;
            }
        
            &>span:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -10px;
                width: 28px;
                height: 3px;
                background-color: #fff;
                transition: all 0.6s;
            }
            &>span.open {
                // transform: translateX(-50px);
                background: transparent;
            }
        
            &>span.open:after {
                transform: rotate(-45deg) translate(0px, -14px);
            }
        
            &>span.open:before {
                transform: rotate(45deg) translate(0px, 14px);
            }
            
        }

        &-search{
            .lg-block({
                width: 50%;
            });
            .sm-block({
                width: 40%;
            });
            .xs-block({
                width: 100%;
            });
            width: 75%;
            height: 60px;
            margin: 0;
            &>input{
                width: 100%;
                height: 100%;
                border: 1px solid #CCCCCC;
                font-size: 18px;
                color: #A9A9A9;
                padding-left: 20px;
            }
        }
    }
    
}
.goods_count{
    display: flex;
    padding: 12px 0 0 3px;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
    width: 66px;
    height: 66px;
    background: url(../img/basket.svg) no-repeat ;
    z-index: 10;
}


.nav-trigger{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    .lg-block({
        display: block;
    });

    &>.menu{
        display: block;
        position: relative;
        top: 0px;
        width: 40px;
        height: 5px;
        background-color:#3b3b3bbb;
        transition: all 0.6s;
    
    }

    &>.menu:before {
        content: '';
        position: absolute;
        left: 0;
        top: -10px;
        width: 40px;
        height: 5px;
        background-color:#3b3b3bbb;
        transition: all 0.6s;
    }

    &>.menu:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 40px;
        height: 5px;
        background-color: #3b3b3bbb;
        transition: all 0.6s;
    }

    &>.menu.open {
        // transform: translateX(-50px);
        background: transparent;
    }

    &>.menu.open:after {
        transform: rotate(-45deg) translate(0px, -14px);
    }

    &>.menu.open:before {
        transform: rotate(45deg) translate(0px, 14px);
    }
}
