.section__first{
    position: relative;
    height: 580px;
    overflow: hidden ;
}

.slider{
    display: flex;
    justify-content: space-between;
    &-box{
        overflow: hidden;
        max-width: 100%;
        position: relative;
        top: 17px;
    }

    .col();
    .lg-block({
        color: #3B3B3B;
    });
    .lg-block({
        flex-direction: column;
        align-items: center;
    });
    .xs-block({
        justify-content: space-around;
    });
    position: absolute;
    color: #fff;
    top: 0;
    left: 100%;
    width: 100%;
    height: 580px;
    margin: 17px 0;
    background: url(../img/around.svg)  no-repeat 50%  50%,
                 transparent linear-gradient(90deg, #90CF00 0%, #06C0CC 100%) 0% 0% no-repeat padding-box;

    &_prev{
        .col();
        height: 580px;
        position: relative;
        left: 28px;
        background: none;
        border: none;
        z-index: 500;
    }
    
    &_next{
        .col();
        height: 580px;
        position: relative;
        right: 28px;
        background: none;
        border: none;
        z-index: 500;
    }

    &_date{
        .col();
        margin-left: 10%;
        max-width: 470px;
        display: flex;
        flex-direction: column;
        font-size: 21px;
        padding-top: 60px;
        font-weight: 300;
        .lg-block({
        padding-top: 10px;

        });
    }

    &_button{
        .sm-block({
            margin-top: 15px;
        });
        margin-top: 34px;
        background: #F76C06;  
        height: 62px;
        border: none;
        border-radius: 4px;
        font-size: 21px;
        color: #fff;
    }

    &_showed{
        left: 0;
    }
}

.percent{
    margin: -40px 0;
    font-size: 266px;
    color: #DF0015;
    font-weight: 700;
    letter-spacing: -15.98px;
    .xl-block({
        font-size: 200px;
    });
    .sm-block({
        font-size: 180px;
    });
}

.goods{
    .col();    
    .lg-block({
        padding: 0;
        margin: 0 auto;
    });
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    margin-right: 12%;
    max-width: 227px;
    padding-top: 170px;

    &_description{
        font-size: 16px;
    }

}

.personal_discount{
    width: 350px;
}

.previous_value{
    margin-top: 21px;
    font-weight: 300;
    font-size: 28px;
}

.price{
    .sm-block({
        font-size: 40px;
    });
    font-size: 55px;
    font-weight: 700;

    span{
        font-size: 30px
    };
}

.baner_goods{
    .col();
    display: flex;
    max-width: 980px;
}

.image_goods{
    .col();
    .size(7);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    .xs-block({
        display:none;
    });
}
