@import "./normalize.css";
@import "./smart-grid.less";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "./header.less";

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
};

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

a:hover,
a {
    // color: inherit;
    text-decoration: inherit;
}

.wrapper {
    .wrapper();
}

/*
.degubGrid{
    .debug(rgba(0, 0, 0, 0.4), 1px solid #ff0);
}
*/
.row {
    .row-flex();
}

.row_center {
    .row-flex();
    display: flex;
    justify-content: center;
}

.row_between {
    .row-flex();
    display: flex;
    justify-content: space-between;
}

.col {
    .col();
}

img {
    max-width: 100% !important;
    height: auto;
}




.row_items {
    .row-flex();
    justify-content: space-around;
}

